.dialogs{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.dialogs_item{
    width: 30%;
}
.dialog{
   color: #282c34;
    padding: 20px;
    text-decoration: none;

}
.dialogs_messages{
    width: 70%;
}
.message{
    padding: 20px;

}
.link{
    text-decoration: none;
}

